@model IEnumerable<WikiVerde.Models.Planta>
@{ ViewBag.Title = "Todas as Anotações";}
<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Deletar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="Plantas/Edit/@item.Id">
                    @item.Id
                </a>
            </td>
            <td>
                <a href="Plantas/Edit/@item.Id">
                    @item.NomeCientifico
                </a>
            </td>
            <td>
                <a href="Plantas/Edit/@item.Id">
                    @item.DscEspecie
                </a>
            </td>
            <td>
                <a href="Plantas/Delete/@item.Id">deletar</a>
            </td>
        </tr>
    }
</table>
