@{
    ViewData["Title"] = "Home Page";
}
<div class="alert alert-info alert-dismissible fade show">Olá, @ViewBag.Name! Seja Bem Vindo.</div>
<div class="container">
    <div class="jumbotron">
        <h1>Wiki Verde</h1>
        <p>
            É um catalógo colaborativo para mantermos informções de como cuidar das nossas queridas plantas em residências.
        </p>
    </div>
</div>